@import (reference)'./variable.less';//引入全局的变量
@import './mixin.less';
// 变量的定义是可以放在被使用之后的，
@my-choice:banner;//定义标签名
@scolor:color;//定义属性名
@images:"./../";//定义统一路径
@font-color:"color-red";//变量的赋值
@color-red:red;//定义变量
@bw:@aw;
@aw:80%;

.@{my-choice} {
    @{scolor}:@@font-color;//变量赋值之后的引用
    background: url("@{images}/logo.png") no-repeat;
    width:@bw;
    @bw:50%;//可以重新进行赋值
}

// .box-color{
//    color:@color-blue;
// }
// .boxtwo-color{
//    color:@color-green;
// }
// 延伸extend***************************extend里的表达式要完全匹配当传入all时，替换表达式里相同的值(把extend表达式里的值给自己用)有点像继承父类

// .boxtwo:extend(.boxtwo-color){//执行后是green颜色
//     &:extend(.box-color);
// }
// .box,.boxtwo{
//     &:extend(.boxtwo-color);//每个规则都扩展了
// }
// .box{
//     span{
//         color:#fff;
//     }
// }
// .box:extend(.box span){//执行后是红色，嵌套的选择器也可以延伸
//     color:red;
// }

// 在@media中， 仅匹配同一媒体声明中的选择器。顶级扩展，匹配，所有的规则


// .box-color,.boxtwo-color{
//     color:@color-blue;
//  }
// .box:extend(.box-color,.boxtwo-color){
//     font-size:20px;
// }

// mixin与extend对比；mixin会把所有属性复制过来，可能会导致css内容的重复，extend,他是在原来的基础上，加上扩展的标签。mixin只能适合简单的选择器，extend则多样性





// 混入mixin*************************
// .fbsize{
//     font-size:30px;
// }
// 可以带括号，也可以不带

//类选择器
// .box{
//  .fbsize();
// }

// .box{
//     .fbsize;
// }

//id选择器
// #idea{
//     display: flex;
// }
// .box{
//     #idea;
// }

// 错误的写法
// p{
//     color:yellow;
// }
// .box{
//     p();
// }

//不想让fbsize出现，加（）；
// .fbsize1(){
//     .fcolor{//可以添加选择器
//         font-size:30px;
//     }
   
// }
// .fbsize2(){
//     span{//可以添加选择器
//         font-size:30px;
//     }
   
// }
// .box{
//     .fbsize1;
// }
// 结果 .box .fcolor{}
// .box{
//     .fbsize1> .fcolor;
// }
//结果.box{font-size:30px;}
// 错误的写法
// .box{
//     .fbsize2 > span;
// }
// .box{
//     .fbsize2
// }
//.box span{}

// 参数混合，mixin中加入参数
// .border-radius(@radius){
//     border-radius: @radius;
// }
// .box{
//     .border-radius(4px)
// }
// 模式匹配
// .color-one(@colorone;){
//     color:@colorone;
// }
// .color-one(@colorone;@colortwo){
//     color:@colorone;
//     background-color: @colortwo;
// }
// .box{
//     .color-one(red,green)
// }
//mixin作为函数

// .padding-one(@x,@y){
//     .padding-two{
//         @count:(@x+@y);
//     }

// }
// .box{
//     .padding-one(10px,20px);
//     .padding-two();
//     padding:@count;
// }
// 规则集的使用需要使用()括号,分离的规则集调用不能返回属性变量，分离规则中的值变量不可被外界覆盖
// @rules:{margin:10px};
// .margin-one(@rules){
//     @rules();
// }
// .box{
//     .margin-one(@rules)
// }
// @import (optional, reference) "foo.less";
// reference：使用Less文件但不输出
// inline：在输出中包含源文件但不处理它
// less：无论文件扩展名是什么，都将文件视为Less文件
// css：无论文件扩展名是什么，都将文件视为CSS文件
// once：只包含一次文件（这是默认行为）
// multiple：多次包含该文件
// optional：找不到文件时继续编译

// 循环，递归

// .generate-padding(@n,@i:1) when (@i<=@n){
//     @name:@i*10;
//     .padding@{name} {
//         padding:(10px*@i);
//     }
//     .generate-padding(@n,(@i+1));
// }
// .generate-padding(4);

// 合并使用+或者+_,+号以逗号连接，+_以空格连接
// .mixin() {
//     transform+_: scale(1);
// }
// .box {
//     .mixin();
//     transform+_: rotate(2deg);
// }
// 输出transform: scale(1) rotate(2deg);transform: scale(1),rotate(2deg);


// &符号的使用,&表示所有父选择器，不是最近的父选择器
// .box{
//     color:red;
//     &:hover{
//         color:green;
//     }
// }

//函数手册







